.resetButton {
  width: 100%;
}

.resetDiv {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  margin-bottom: 9px;
}

.headerDiv {
  color: black;
  background-color: rgb(198, 163, 248);
  text-align: center;
  border-radius: 10px;
  margin-top: 6px;
  margin-bottom: 7px;
  text-shadow: 3px 2px 3px rgba(255, 153, 0, 0.33);
  box-shadow: 1px 6px 24px 2px #000000;
}

.loading {
  margin: auto;
  width: 75%;
  text-align: center;
  border-radius: 5px;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
